body {background: black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

h1 {color: white;}

#aboutMe {
    background: grey;
}

img {width: 250px;
height: 250px;
}

p {color: white;}