body {background: black; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

h1 {color: white;}



img {width 400px;
height: 400px;
}

p {color: white;}